@font-face {
   font-family: 'Garet-Book';
   font-display: swap;
   src: url('file:///C:/Users/David%20SW%20Sim/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-01-27_083506/fonts/Garet-Book/font.ttf');
}
